<html>
    <head>
      
        <title>
            <%= locals.title %>
        </title>
        <script src="https://kit.fontawesome.com/f80c4e0252.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>TODO APP</h1>
        <div class="card">
            <form id="create-list" action="/create" method ="POST">
                <div id="description">
                    DESCRIPTION
                    <br>
                    <input type="text" name="description"  placeholder="Add description" required>
                </div>
                <div id="date">
                    DATE
                    <br>
                    <input type="date" name="date" required>
                </div>
                <div id="category">
                    CATEGORY
                    <br>
                    <select name="type">
                        <option disabled selected hidden>Choose a Category</option>
                        <option>Work</option>
                        <option>School</option>
                        <option>Urgent</option>
                        <option>Exam</option>
                        <option>Meeting</option>
                    </select>
                </div>
                <div id="submit">
                    
                    <button type="submit">
                        <i class="fas fa-plus"></i>
                        ADD
                    </button>
                </div>
                
            </form>
    
            
                <ul class="list">
                    <% for(let i of doc) {%>
                        <div class="show">
                            <li>
                                <div class="description"><%= i.description %></div>
                                <div class="delete">
                                    <a href="/destroy/<%= i.id %>">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                            </li>
                            <li>
                                Category:
                               <span><%= i.type %></span> 
                            </li>
                            <li>
                                <i class="fas fa-calendar-week"></i>
                                <%= i.date %>
                            </li>
                        </div>
                    <%} %>
                        
                    
                </ul>
            

        </div>
    </body>
</html>